.row{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;

}
.row img{
    width: 200px;
    height: 200px;
}
.grid h1{
    text-decoration: underline;
    padding: 10px;
    font-weight:bolder;
    justify-self: center;
    margin: 30px;
}

.gride{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 10px 10px 10px;
    row-gap: 50px;
    column-gap: 10px;
}

.gride > div{
    display: flexbox;
    border: 1px solid black;
    /*padding: 10px 10px 30px 10px;*/
    width: 250px;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
}

.gride > div > img{
    width: 200px;
    height: 200px;
    justify-self: center;
    
    
}
.order{
    width: fit-content;
    color: ;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .product-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.product-card{
    
    border: 1px solid white;
    padding: 35px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.product-card img{
    width: 250px;
    height: 250px;
    border: 5px solid #d35400;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

.price{
    color: grey;
    font-size: 25px;
}

.navi{
    display: flex;
    justify-content: space-between;
}
.search{
    padding-top: 30px;
}

 header {
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5%;
      border-bottom: 2px solid #f2e6d9;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    header .logo {
      font-size: 28px;
      font-weight: bold;
      color: #d35400;
    }

    nav a {
      margin: 0 15px;
      color: #444;
      text-decoration: none;
      font-weight: 600;
    }

    nav a:hover {
      color: #d35400;
    }

    header .icons i {
      margin: 0 8px;
      font-size: 20px;
      color: #d35400;
      cursor: pointer;
    }

footer {
      text-align: center;
      padding: 25px;
      background-color: #2c2c2c;
      color: white;
    }

    footer .icons i {
      margin: 0 10px;
      font-size: 20px;
      color: #e67e22;
    }
