 <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fffaf4;
    }

    /* HEADER */
    header {
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5%;
      border-bottom: 2px solid #f2e6d9;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    header .logo {
      font-size: 28px;
      font-weight: bold;
      color: #d35400;
    }

    nav a {
      margin: 0 15px;
      color: #444;
      text-decoration: none;
      font-weight: 600;
    }

    nav a:hover {
      color: #d35400;
    }

    header .icons i {
      margin: 0 8px;
      font-size: 20px;
      color: #d35400;
      cursor: pointer;
    }

    /* HERO */
    .hero {
      background: url("./Assets/Images/noodle-with-chicken-bowl-side-view.jpg") center/cover no-repeat;
      text-align: center;
      padding: 200px 20px;
      color: white;
      background-blend-mode: overlay;
      background-color: rgba(0,0,0,0.5);
    }

    .hero h1 {
      font-size: 60px;
      font-weight: 800;
    }

    .hero p {
      font-size: 24px;
      margin-top: 10px;
    }

    .hero .btn-order {
      background-color: #d35400;
      color: white;
      border-radius: 30px;
      padding: 12px 35px;
      font-size: 20px;
      margin-top: 20px;
    }

    .btn-order:hover {
      background-color: #e67e22;
    }

    
    .menu-title {
      text-align: center;
      margin: 80px 0 40px;
      font-size: 40px;
      color: #d35400;
      font-weight: bold;
    }

    
    .about {
      background-color: #fff2e6;
      padding: 60px 5%;
    }

    .about img {
      border-radius: 15px;
      width: 100%;
    }

    #aboutUs p {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 1.6;
    }

    .contact {
      padding: 60px 5%;
    }

    .contact form input, 
    .contact form textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }

    .contact input[type="submit"] {
      background-color: #d35400;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 10px;
      cursor: pointer;
    }

    .contact input[type="submit"]:hover {
      background-color: #e67e22;
    }

    

  </style>

footer {
      text-align: center;
      padding: 25px;
      background-color: #2c2c2c;
      color: white;
    }

    footer .icons i {
      margin: 0 10px;
      font-size: 20px;
      color: #e67e22;
    }
    .button{
       background-color: #d35400;
      color: white;
      border-radius: 30px;
      padding: 12px 35px;
      font-size: 20px;
      margin-top: 40px;
      margin-left: 70px;
    }